.experience-head {
	font-size: 32px;
	color: var(--accent-color);
	text-indent: 5%;
}

.experience-company {
	font-weight: 700;
	font-size: 38px;
	margin-top: 40px;
	color: var(--accent-color);
	margin-bottom: 0;
}

.experience-time {
	margin-top: 10px;
	font-weight: 700;
	font-size: 18px;
	letter-spacing: 0.05em;
}

.experience-title {
	display: inline-block;
	margin-top: 25px;
	background: var(--accent-color);
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 25px;
	padding: 10px;
	font-weight: 700;
	font-size: 24px;
	letter-spacing: 0.05em;
	margin-left: 30px;
}

.experience-title-summary {
	font-weight: 700;
	font-size: 24px;
	line-height: 28px;
	letter-spacing: 0.05em;
	margin-top: 15px;
	margin-left: 40px;
}

.experience-title-item {
	font-weight: 700;
	font-size: 20px;
	line-height: 36px;
	letter-spacing: 0.05em;
	margin-bottom: 0;
	margin-top: 0;
	margin-left: 40px;
}

.experience-title-item::before {
	content: '>';
	color: var(--accent-color);
	padding-right: 10px;
}

.experience-wrapper {
	margin-top: 50px;
}

.experience-head-lang {
	color: var(--secondary-color);
}

.experience-lang-line {
	width: 50px;
	height: 10px;
	background: var(--secondary-color);
	border-radius: 12px;
}

.experience-lang-wrapper {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

.experience-lang-items-wrapper {
	font-weight: 700;
	font-size: 24px;
	display: flex;
	flex-direction: column;
}

.experience-lang-item {
	margin-top: 10px;
	letter-spacing: 0.05em;
}

.experience-lang-level {
	font-size: 16px;
	letter-spacing: 0.05em;
}

@media (max-width: 767px) {
	.experience-subtitle {
		padding: 2%;
	}

	.experience-company {
		font-weight: 700;
		font-size: 36px;
		padding: 2%;
	}

	.experience-time {
		padding: 2%;
	}

	.experience-title {
		font-size: 22px;
		margin-left: 2%;
	}

	.experience-title-summary {
		font-size: 22px;
		margin-left: 4%;
	}

	.experience-title-item {
		font-size: 18px;
		margin-left: 4%;
	}

	.experience-lang-wrapper {
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.experience-lang-items-wrapper {
		align-items: center;
	}

	.experience-wrapper {
		margin-left: 10%;
		margin-right: 10%;
	}

	.experience-lang-line {
		margin-top: 20px;
	}

	.experience-lang-item {
		font-size: 28px;
	}

	.experience-lang-level {
		font-size: 16px;
	}
}
