.footer {
    margin-top: 100px;
    height: 50px;
    background: var(--accent-color);
}

.footer-wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50px;
}

.footer-text-item {
    color: var(--secondary-color);
    font-weight: 700;
}

@media (max-width: 767px) {
    .footer-text-item {
        color: var(--secondary-color);
        font-weight: 400;
        font-size: 12px;
    }
}